@import "../../../styles/variables.module.scss";

.reservation-modal--overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.267);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease-in;
	opacity: 0;
	visibility: hidden;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.reservation-modal {
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.157);
	padding: 2rem;
	position: relative;
	width: 100%;
	max-width: 600px;
	z-index: 101;
	transition: 0.3s ease-in;
	transform: scale(0.8) translateY(100px);
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 2rem;
	:global {
		.message {
			display: flex;

			span {
				margin-right: 1rem;
			}

			// and not the first
			&:not(:first-child) {
				margin-top: 2rem;
			}
		}
	}
	&.active {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 16px;
		cursor: pointer;
		z-index: 102;
	}
}

.reservation-modal--hours {
	// create a grid with 4 columns
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px;

	&--hour {
		background-color: $accent;
		padding: 16px;
		color: $white;
		font-weight: 800;
		font-style: italic;
		transition: 0.4s ease-in;
		border-radius: 8px;

		&:hover {
			background-color: #f89379;
		}

		&.inactive {
			background-color: #ccc;
			cursor: auto;
			pointer-events: none;
		}
	}
}

.menu-cta {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background-color: $accent;
	color: $white;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	color: $white;
	font-weight: 900;
	font-style: italic;
	margin-top: 2rem;

	&-ticket {
		color: #fff;
		height: 0.7rem;
		transform: rotate(130deg);
		margin-right: 0.5em;
	}

	&:hover {
		transform: scale(0.98);
	}
}
