@import "../../../styles/variables.module.scss";

$background-padding: 200px;

.section {
	margin-top: $section-margin-top;
	padding: $section-padding;

	@media screen and (max-width: 700px) {
		padding: $section-padding-small;
	}
	position: relative;
	margin: 50vh 0;

	&-background {
		position: absolute;
		top: -$background-padding;
		left: 0;
		width: 100%;
		height: calc(100% + $background-padding * 2);
		background-color: $illustration-color-sky;
		z-index: -1;
		transform: skewY(5deg);
	}
}

.title {
	font-size: 7rem;
	color: $illustration-color-sun;
	font-weight: $title-2-weight;
	font-style: $title-2-style;
	text-transform: $title-2-transformation;
	// text align center
	text-align: center;
}

.baseline {
	color: $text-color-grey;
	font-weight: 600;
	font-style: italic;
	text-align: center;
}

.tarifs {
	display: flex;
	justify-content: space-between;
	padding-top: 3rem;

	gap: 2rem;
	@media screen and (max-width: 900px) {
		flex-direction: column;
	}
}

.tarif {
	cursor: pointer;
	background-color: $white;
	width: calc(100% / 3 - 2rem);
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
	// border: 2px solid $white;

	@media screen and (min-width: 900px) {
		width: 100%;
		margin-bottom: 5rem;
		&:hover {
			// border: 2px solid $accent;
			transform: translateY(-5px);
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
		}
	}

	@media screen and (max-width: 900px) {
		width: 100%;
		margin-bottom: 5rem;
	}
}
.prime {
	border: 2px solid $accent;

	@media screen and (max-width: 900px) {
		border: none;
	}
}

.tarifTitle {
	font-size: 1rem;
	color: $text-color-dark;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	font-style: italic;
}

.tarifPrice {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	:global {
		.price {
			font-size: 4rem;
			color: $text-color-dark;
			font-weight: 900;
			font-style: normal;
			text-transform: uppercase;
			text-align: center;
			font-style: italic;
		}

		.baseline {
			font-size: 1rem;
			color: $text-color-grey;
			font-weight: 700;
			font-style: normal;
			text-align: center;
			font-style: italic;
		}
	}

	padding-bottom: 1rem;
}

.reservationButton {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background-color: $accent;
	color: $white;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin-bottom: 2rem;
}

.tarifDescription {
	font-size: 0.8rem;
	color: $text-color-grey;
	font-weight: 600;
	font-style: normal;
	text-transform: none;
	text-align: center;
	font-style: italic;

	padding-bottom: 15rem;
}

.tarifImage {
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translate(50%, 25%);
	height: 22rem;
}

.clauses {
	font-size: 0.8rem;
	color: $text-color-grey;
	font-weight: 600;
	font-style: normal;
	text-transform: none;
	text-align: left;
	font-style: italic;
}
