@import "../../../styles/variables.module.scss";

.navbar {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - $marge);
	height: $navbar-height;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-radius: 16px;

	transition: all 0.3s ease-in-out;

	&.isNotOnTop {
		padding: 2rem 2rem;
		background-color: rgba(214, 214, 214, 0.461);
		margin-top: 1rem;
		border-radius: 16pxc;
		backdrop-filter: blur(10px);
		width: calc(100% - $marge * 2);
		@media screen and (max-width: 900px) {
			width: calc(100% - $marge);
		}
	}

	@media screen and (max-width: 900px) {
		width: calc(100% - $marge);
	}
}

.logo {
	height: 3rem;
	cursor: pointer;
}

.left {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.date {
	padding: 0.5rem 1rem;
	background-color: #ff7c5b1e;
	border-radius: 8px;
	color: $accent;
	font-style: italic;
	font-size: 1rem;
	font-weight: 900;

	// prevent text from wrapping
	white-space: nowrap;

	@media screen and (max-width: 490px) {
		display: none;
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

	&-item {
		margin-right: 2rem;
		font-size: 1rem;
		font-weight: 600;
		color: $text-color-dark;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			color: $text-color-dark;
		}

		@media screen and (max-width: 680px) {
			display: none;
		}
	}

	.active {
		color: $accent;
	}

	&-cta {
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		background-color: $accent;
		color: $white;
		font-size: 1rem;
		font-weight: 600;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		color: $white;
		font-weight: 900;
		font-style: italic;

		&-ticket {
			color: #fff;
			height: 0.7rem;
			transform: rotate(130deg);
			margin-right: 0.5em;
		}

		&:hover {
			transform: scale(0.98);
		}

		@media screen and (max-width: 600px) {
			font-size: 1.5rem;
			padding: 0.5rem 1.5rem;
		}
	}
}
