@import "../../../styles/variables.module.scss";

.section {
	margin-top: $section-margin-top;
	padding: $section-padding;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;

	:global {
		img {
			width: 1200px;
		}
	}
}

.title {
	font-size: $title-2-size;
	color: $title-2-color;
	font-weight: $title-2-weight;
	font-style: $title-2-style;
	text-transform: $title-2-transformation;
}
