@import "../../../styles/variables.module.scss";

.section {
	margin-top: $section-margin-top;
	padding: $section-padding;

	@media screen and (max-width: 700px) {
		padding: $section-padding-small;
	}
}

.title {
	font-size: $title-2-size;
	color: $title-2-color;
	font-weight: $title-2-weight;
	font-style: $title-2-style;
	text-transform: $title-2-transformation;

	@media screen and (max-width: 900px) {
		font-size: $title-2-size-small;
	}

	@media screen and (max-width: 600px) {
		font-size: 4rem;
		background-color: $accent;
		color: white;
	}
	@media screen and (max-width: 400px) {
		font-size: $title-2-size-xs;
	}
}

.faq {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.obstacle {
	height: 180px;
	width: 220px;
	background-color: $accent;
	border-radius: 16px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $white;
}
