@import "../../../styles/variables.module.scss";

.section {
	margin-top: $section-margin-top;
	padding: $section-padding;

	@media screen and (max-width: 700px) {
		padding: $section-padding-small;
	}
}

.title {
	font-size: $title-2-size;
	color: $title-2-color;
	font-weight: $title-2-weight;
	font-style: $title-2-style;
	text-transform: $title-2-transformation;

	@media screen and (max-width: 900px) {
		font-size: $title-2-size-small;
	}

	@media screen and (max-width: 600px) {
		font-size: 4rem;
	}
}

.course-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: flex-start;
	margin-top: 4rem;

	@media screen and (max-width: 900px) {
		margin-top: 30vh;
	}

	@media screen and (max-width: 600px) {
		margin-bottom: 20vh;
	}

	&-text {
		width: 40%;
		margin-right: 2rem;
		color: $text-color-grey;
		margin-top: 20rem;

		display: flex;
		flex-direction: column;

		@media screen and (max-width: 900px) {
			width: 80%;
			margin-right: 0;
			margin-top: 0;
		}

		&-bloc {
			margin-bottom: 100vh;

			@media screen and (max-width: 900px) {
				margin-bottom: 50vh;
			}

			@media screen and (max-width: 600px) {
				margin-bottom: 20vh;
			}

			&-title {
				font-size: 4rem;
				font-weight: 900;
				font-style: italic;
				color: $text-color-black;
				margin-bottom: 2rem;
				text-transform: uppercase;

				@media screen and (max-width: 600px) {
					font-size: 3rem;
				}
			}

			&-text {
				font-size: 1.5rem;
				font-weight: 600;
				color: $text-color-grey;
			}
		}
	}

	&-image {
		position: sticky;
		top: 100px;
		height: 500px;
	}
}

.cube {
	width: 300px;
	background-color: red;
	position: sticky;
	top: 150px;
	height: 300px;

	&.inParcours {
		background-color: blue;
	}

	&.inObstacles {
		background-color: green;
	}

	&.inForEveryOne {
		background-color: yellow;
	}

	&.inKm {
		background-color: orange;
	}
}

.image {
	width: 500px;
	position: sticky;
	top: 200px;
	height: 500px;
	:global {
		svg {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;

		opacity: 0;
		transition: 0.5s ease-out;
		will-change: opacity;
		// transform: scale(0) translate(-50%, -50%);

		&.draw {
			opacity: 1;
			transition: 0.5s ease-in;
			// transform: scale(1) translate(-50%, -50%);
		}

		&__obstacles {
			z-index: -10;
		}

		&__double_parcours {
			height: auto;
			width: 100%;
		}

		&_small {
			width: 80vw;
		}
	}

	&__square {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		height: 80%;
		background-color: #edd587;
		border-radius: 16px;
		opacity: 0;
		transition: 0.5s ease-out;

		&.draw {
			transition: 0.5s ease-in;
			opacity: 1;
		}
	}
}
