@import "../../../styles/variables.module.scss";

.section {
	min-height: 80vh;
	background-color: #211e28;
	margin: $marge;
	border-radius: 16px;
	padding: $marge;
	position: relative;
	overflow: hidden;
	margin-top: $marge;

	@media screen and (max-width: 700px) {
		margin: $marge-small;
		padding: $marge-small;
	}
}

.contact-title {
	font-size: 2rem;
	color: $white;
	font-weight: $title-3-weight;
	font-style: $title-3-style;
	text-transform: $title-3-transformation;
	margin-bottom: $marge;
}

.contact-section-image {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 800px;
	transform: translate(20%, 20%);

	@media screen and (max-width: 1200px) {
		height: 500px;
	}

	@media screen and (max-width: 768px) {
		display: none;
	}
}
