@import "../../../styles/variables.module.scss";

.section {
	margin-top: $section-margin-top;
	display: none;
	padding: $section-padding;

	@media screen and (max-width: 700px) {
		margin-top: $section-margin-top;
		padding: $marge-small;
	}
}

.title {
	font-size: $title-3-size;
	color: $text-color-light;
	font-weight: $title-2-weight;
	font-style: $title-2-style;
	text-transform: $title-2-transformation;

	@media screen and (max-width: 400px) {
		font-size: $title-2-size-xs;
	}
}

.faq {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.lieu-section {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 10rem;
	margin: $marge;

	@media screen and (max-width: 700px) {
		padding: $marge-small;
		margin: $marge-small;
	}
	border-radius: 16px;
	overflow: hidden;
	margin-top: $section-margin-top;
	:global {
		.background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			transform: scaleX(-1);

			object-fit: cover;
			object-position: bottom;

			filter: brightness(0.5) saturate(1.5);

			@media screen and (max-width: 700px) {
				filter: brightness(0.3) saturate(1.5);
			}
		}
	}

	&__content {
		color: $text-color-light;
		width: 50%;
		font-size: 1.5rem;
		padding: 2rem 0;

		:global {
			a {
				color: $accent;
				// font-weight: 900;
				font-style: italic;

				&:hover {
					color: $accent;
					text-decoration: underline;
				}
			}
		}

		@media screen and (max-width: 700px) {
			width: 90%;
			color: white;
			font-size: 1.5rem;
			padding: 2rem 0;
		}
	}
}

.button {
	margin-top: 1rem;
	background-color: $accent;
	color: $white;
	font-weight: 900;
	font-style: italic;
	padding: 1rem 1.5rem;
	font-size: 1.25rem;
	border-radius: 8px;
}
