@import "../../../styles/variables.module.scss";

.section {
}

.intro {
	background-color: #16585c;
	// background: linear-gradient(180deg, #16585c 0%, #073247 100%);
	padding-top: 0vh;
	padding-bottom: 50vh;
	position: relative;
	@media screen and (max-width: 600px) {
		padding-bottom: 20vh;
	}
}

.trees {
	position: absolute;
	bottom: 100%;
	width: 100%;
	object-fit: cover;
}

.text {
	font-weight: 900;
	font-size: $text-huge-size;
	max-width: 45vw;
	margin-left: 15vw;
	padding-bottom: 3rem;
	color: $white;

	background: linear-gradient(180deg, #fff 0%, #16585c 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	background-attachment: fixed;

	@media screen and (max-width: 768px) {
		max-width: 80vw;
		margin-left: 10vw;
	}

	@media screen and (max-width: 380px) {
		font-size: 2rem;
	}
}

.year {
	position: absolute;
	bottom: 0;
	margin-left: 15vw;
	font-weight: 900;
	font-size: 20rem;
	color: #fff;
	font-style: italic;
	line-height: 13rem;
	:global {
		p {
			padding-right: 5rem;
		}
	}

	@media screen and (max-width: 800px) {
		font-size: 15rem;
		line-height: 10rem;
	}

	@media screen and (max-width: 600px) {
		font-size: 9rem;
		line-height: 5rem;
	}
}

.joggeuse {
	position: absolute;
	bottom: -40vh;
	margin-left: 15vw;
	transform: scaleY(-1) translateY(100%);
	height: 500px;

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.description {
	margin-top: 7rem;
	width: 45vw;
	right: 0;
	margin-left: auto;
	height: 40vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	@media screen and (max-width: 1000px) {
		margin-top: 15rem;
		width: 100vw;
		flex-direction: column;
	}

	@media screen and (max-width: 600px) {
		margin-top: $marge;
	}

	&-numbers {
		display: flex;
		flex-direction: column;
		margin-right: 10rem;
		margin-left: 5rem;

		@media screen and (max-width: 1000px) {
			flex-direction: row;
			align-self: flex-end;
		}

		@media screen and (max-width: 600px) {
			align-self: flex-start;
		}
	}

	&-number {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;

		@media screen and (max-width: 1000px) {
			margin-left: 2rem;
		}

		@media screen and (max-width: 600px) {
			margin-left: 0;
			margin-right: 2rem;
		}

		&-text {
			font-size: 4rem;
			font-weight: 900;
			color: $text-color-black;
			font-style: italic;
		}
		&-label {
			font-size: 1.5rem;
			color: $text-color-grey;
			font-weight: 900;
			font-style: italic;
		}
	}

	&-text {
		margin-right: 10rem;
		margin-left: 5rem;
		font-size: 1.5rem;
		color: $text-color-light;
	}
}
