@import "../../../styles/variables.module.scss";

.section {
}

.intro {
	background-color: #16585c;
	// background: linear-gradient(180deg, #16585c 0%, #073247 100%);
	padding-top: 0vh;
	padding-bottom: 50vh;
	position: relative;
}

.text {
	font-weight: 900;
	font-size: $text-huge-size;
	max-width: 45vw;
	margin-left: 15vw;
	padding-bottom: 3rem;
	color: $white;

	background: linear-gradient(180deg, #fff 0%, #16585c 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	background-attachment: fixed;
}

.year {
	position: absolute;
	bottom: 0;
	margin-left: 15vw;
	font-weight: 900;
	font-size: 20rem;
	color: #fff;
	font-style: italic;
	line-height: 13rem;
	:global {
		p {
			padding-right: 5rem;
		}
	}
}

.joggeuse {
	position: absolute;
	bottom: -40vh;
	margin-left: 15vw;
	transform: translateY(50%);
}

.description {
	margin-top: 7rem;
	width: 45vw;
	right: 0;
	margin-left: auto;
	height: 40vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	&-numbers {
		display: flex;
		flex-direction: column;
	}

	&-number {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;

		&-text {
			font-size: 4rem;
			font-weight: 900;
			color: $text-color-black;
			font-style: italic;
		}
		&-label {
			font-size: 1.5rem;
			color: $text-color-grey;
			font-weight: 900;
			font-style: italic;
		}
	}

	&-text {
		margin-right: 10rem;
		margin-left: 5rem;
		font-size: 1.5rem;
		color: $text-color-light;
	}
}
