@import "../../../styles/variables.module.scss";

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
	// padding: 0 1rem;
	// margin-bottom: $marge;

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		&-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 100%;
			gap: 1rem;
		}

		&-success {
			color: green;
		}

		&-error {
			color: red;
		}

		&-submit {
			display: flex;
			align-self: flex-start;
			padding: 0 1rem;
			background-color: $accent;
			padding: 1rem 1.5rem;
			font-size: 1.25rem;
			border-radius: 8px;
			font-weight: 800;
			color: $white;
			font-style: italic;

			&:disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			&-success {
				background-color: $success;

				&:disabled {
					opacity: 1;
					pointer-events: none;
				}
			}

			&-error {
				background-color: $error;

				&:disabled {
					opacity: 1;
					pointer-events: none;
				}
			}
		}

		&-input {
			width: 100%;
			margin-bottom: 1rem;
			display: flex;
			flex-direction: column;

			&-label {
				font-size: 1.125rem;
				color: $text-color-grey;
				font-weight: $title-3-weight;
				font-style: $title-3-style;
				text-transform: $title-3-transformation;
				margin-bottom: 0.5rem;
			}

			&-input {
				width: 100%;
				height: 3rem;
				border: none;
				// border-bottom: 1px solid $text-color-grey;
				background-color: transparent;
				color: $text-color-grey;
				font-size: 1.125rem;
				font-weight: $title-3-weight;
				font-style: $title-3-style;
				text-transform: $title-3-transformation;
				padding: 0.5rem 0;
				transition: all 0.3s ease-in-out;
				background: #322d3d;
				color: $white;
				padding: 0 1rem;
				border-radius: 8px;
				overflow: hidden;
				&:focus {
					outline: none;
					background: #4a425b;
					// border-bottom: 1px solid $text-color-grey;
				}
			}

			&-textarea {
				width: 100%;
				border: none;
				// border-bottom: 1px solid $text-color-grey;
				background-color: transparent;
				color: $text-color-grey;
				font-size: 1.125rem;
				font-weight: $title-3-weight;
				font-style: $title-3-style;
				text-transform: $title-3-transformation;
				padding: 0.5rem 0;
				transition: all 0.3s ease-in-out;
				background: #322d3d;
				color: $white;
				padding: 1rem;
				border-radius: 8px;
				overflow: hidden;
				height: auto;
				&:focus {
					outline: none;
					background: #4a425b;
					// border-bottom: 1px solid $text-color-grey;
				}
			}

			&-select {
				background: #322d3d;
				width: 100%;
				height: 3rem;
				border: none;
				// border-bottom: 1px solid $text-color-grey;
				color: $text-color-grey;
				font-size: 1.125rem;
				font-weight: $title-3-weight;
				font-style: $title-3-style;
				text-transform: $title-3-transformation;
				// padding: 0.5rem 0;
				transition: all 0.3s ease-in-out;
				box-shadow: none;
				// reset all select styles
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				background: transparent;

				font-family: inherit;
				background: #322d3d;
				border-radius: 8px;
				overflow: hidden;
				color: $white;
				padding: 0 1rem;
				&:focus {
					outline: none;
					background: #4a425b;
					// border-bottom: 1px solid $text-color-grey;
				}

				&-option {
					color: $text-color-grey;
					font-size: 1.125rem;
					font-weight: $title-3-weight;
					font-style: $title-3-style;
					text-transform: $title-3-transformation;
					color: red;
				}
			}
		}
	}
}
