@import "../../../styles/variables.module.scss";

.page-loader {
	background-color: $background-dark;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1s ease-in-out;

	&.isLoaded {
		// opacity: 0;
		// visibility: hidden;
		transform: translateY(-100%);
	}

	&--logo {
		height: 100px;

		transition: all 0.5s ease-in-out;

		opacity: 0;

		&.isLoaded {
			opacity: 1;
			transition: all 1s ease-in-out;
		}

		@media screen and (max-width: 400px) {
			height: 70px;
		}
	}
}
