@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variables.module.scss";

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	font-size: clamp(12px, 1.2vw, 18px);
}

body {
	overflow-x: hidden;
	max-width: 100vw;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}

.accent {
	color: $accent !important;
	background-clip: initial !important;
	-webkit-background-clip: unset !important;
	-webkit-text-fill-color: $accent !important;
	background-clip: unset;
	text-fill-color: $accent;
}

// section {
// 	margin-top: 20rem;
// 	padding: 0 $marge;
// }

// TODO : S'occuper du style en darkmode
// @media (prefers-color-scheme: dark) {
// 	html {
// 		color-scheme: dark;
// 	}
// 	body {
// 		color: white;
// 		background: black;
// 	}
// }

.imagetest {
	height: 400px;
	width: 300px;
}
