$primary-color: #ff00cc;
$accent: #ff7c5b;
$white: #fff;
$black: #000;
$grey: #f2f2f2;

$success: #4caf50;
$error: #ef5350;
$info: #03a9f4;
$warning: #ff9800;

$text-color-black: #000;
$text-color-grey: #8f8f8f;
$text-color-light: #eaeaea;
$text-color-dark: #0e4351;

$illustration-color-dark: #0e4351;
$illustration-color-sky: #bbf4e3;
$illustration-color-sun: #b99c64;
$illustration-color-field: #e6e1b7;
$illustration-color-yellow: #f8fedc;

$mud-color-red: #a54c5b;
$mud-color-orange: #e99440;
$mud-color-salmon: #84be9c;

$background-dark: #211e28;

$title-1-size: 4rem;
$title-1-transformation: uppercase;
$title-1-weight: 900;
$title-1-style: italic;
$title-1-color: $text-color-dark;

$title-2-size: 10rem;
$title-2-size-small: 7rem;
$title-2-transformation: uppercase;
$title-2-weight: 900;
$title-2-style: italic;
$title-2-color: $text-color-light;

$title-3-size: 4rem;
$title-3-transformation: none;
$title-3-weight: 900;
$title-3-style: italic;
$title-3-color: $text-color-black;

$text-huge-size: 3rem;
$text-paragraph: 1rem;

$marge: 4rem;
$marge-small: 2rem;

$navbar-height: 80px;

$section-margin-top: 20rem;
$section-padding: 0 $marge;
$section-padding-small: 0 $marge-small;
